anypoint-templates/iphone-store-integration-flow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	
	<!-- HTTP Listener Configuration -->
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config">
		<http:listener-connection host="0.0.0.0" port="8091" />
	</http:listener-config>
	
	<!-- JMS Configuration (ActiveMQ) -->
	<jms:config name="JMS_Config" doc:name="JMS Config">
		<jms:active-mq-connection>
			<jms:factory-configuration brokerUrl="tcp://localhost:61616" />
		</jms:active-mq-connection>
	</jms:config>
	
	<!-- FLUJO PRINCIPAL: Venta Completa (via JMS) -->
	<flow name="venta-completa-flow">
		<!-- 1. Entrada HTTP -->
		<http:listener doc:name="POST /venta-completa" config-ref="HTTP_Listener_config" path="/venta-completa" allowedMethods="POST"/>
		
		<!-- 2. Guardar datos en variables -->
		<ee:transform doc:name="Guardar variables">
			<ee:variables>
				<ee:set-variable variableName="dni"><![CDATA[%dw 2.0
output application/java
---
payload.dniCliente]]></ee:set-variable>
				<ee:set-variable variableName="codigo"><![CDATA[%dw 2.0
output application/java
---
payload.codigoProducto]]></ee:set-variable>
				<ee:set-variable variableName="cantidad"><![CDATA[%dw 2.0
output application/java
---
payload.cantidad]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		
		<!-- 3. Llamar a RENIEC via JMS -->
		<jms:publish doc:name="Enviar RENIEC.REQUEST" config-ref="JMS_Config" destination="RENIEC.REQUEST">
			<jms:message>
				<jms:body><![CDATA[#[vars.dni]]]></jms:body>
			</jms:message>
		</jms:publish>
		<jms:consume doc:name="Leer RENIEC.RESPONSE" config-ref="JMS_Config" destination="RENIEC.RESPONSE" timeout="5000"/>
		
		<ee:transform doc:name="Parsear RENIEC">
			<ee:variables>
				<ee:set-variable variableName="reniec"><![CDATA[%dw 2.0
output application/java
---
read(payload as String, "application/json")]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		
		<!-- 4. Decision: Cliente valido? -->
		<choice doc:name="Cliente valido?">
			<when expression="#[vars.reniec.exito == true]">
				
				<!-- 5. Llamar a PRODUCTO via JMS -->
				<jms:publish doc:name="Enviar PRODUCTO.REQUEST" config-ref="JMS_Config" destination="PRODUCTO.REQUEST">
					<jms:message>
						<jms:body><![CDATA[#[vars.codigo ++ "," ++ vars.cantidad]]]></jms:body>
					</jms:message>
				</jms:publish>
				<jms:consume doc:name="Leer PRODUCTO.RESPONSE" config-ref="JMS_Config" destination="PRODUCTO.RESPONSE" timeout="5000"/>
				
				<ee:transform doc:name="Parsear PRODUCTO">
					<ee:variables>
						<ee:set-variable variableName="producto"><![CDATA[%dw 2.0
output application/java
---
read(payload as String, "application/json")]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				
				<!-- 6. Decision: Stock disponible? -->
				<choice doc:name="Stock disponible?">
					<when expression="#[vars.producto.exito == true and vars.producto.disponible == true]">
						
						<!-- 7. Llamar a INVENTARIO via JMS -->
						<jms:publish doc:name="Enviar INVENTARIO.REQUEST" config-ref="JMS_Config" destination="INVENTARIO.REQUEST">
							<jms:message>
								<jms:body><![CDATA[#[vars.codigo]]]></jms:body>
							</jms:message>
						</jms:publish>
						<jms:consume doc:name="Leer INVENTARIO.RESPONSE" config-ref="JMS_Config" destination="INVENTARIO.RESPONSE" timeout="5000"/>
						
						<ee:transform doc:name="Parsear INVENTARIO">
							<ee:variables>
								<ee:set-variable variableName="inventario"><![CDATA[%dw 2.0
output application/java
---
read(payload as String, "application/json")]]></ee:set-variable>
							</ee:variables>
						</ee:transform>
						
						<!-- 8. Llamar a VENTA via JMS -->
						<jms:publish doc:name="Enviar VENTA.REQUEST" config-ref="JMS_Config" destination="VENTA.REQUEST">
							<jms:message>
								<jms:body><![CDATA[#[vars.dni ++ "," ++ vars.codigo ++ "," ++ vars.cantidad]]]></jms:body>
							</jms:message>
						</jms:publish>
						<jms:consume doc:name="Leer VENTA.RESPONSE" config-ref="JMS_Config" destination="VENTA.RESPONSE" timeout="5000"/>
						
						<ee:transform doc:name="Parsear VENTA">
							<ee:variables>
								<ee:set-variable variableName="venta"><![CDATA[%dw 2.0
output application/java
---
read(payload as String, "application/json")]]></ee:set-variable>
							</ee:variables>
						</ee:transform>
						
						<!-- 9. Respuesta exitosa -->
						<ee:transform doc:name="Respuesta exitosa">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	exito: true,
	mensaje: "Venta procesada exitosamente via ESB (JMS)",
	reniec: vars.reniec,
	producto: vars.producto,
	inventario: vars.inventario,
	venta: vars.venta
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
					</when>
					<otherwise>
						<!-- Stock no disponible -->
						<ee:transform doc:name="Error: sin stock">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	exito: false,
	error: "STOCK_INSUFICIENTE",
	mensaje: "No hay stock suficiente",
	detalle: vars.producto
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
					</otherwise>
				</choice>
			</when>
			<otherwise>
				<!-- Cliente no valido -->
				<ee:transform doc:name="Error: cliente invalido">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	exito: false,
	error: "CLIENTE_INVALIDO",
	mensaje: "DNI no valido o no registrado",
	detalle: vars.reniec
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		
		<!-- Error Handler Global -->
		<error-handler>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" type="ANY">
				<ee:transform doc:name="Error genérico">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	exito: false,
	error: "ERROR_INTERNO",
	mensaje: "Ocurrio un error al procesar la venta",
	detalle: (error.description default "SIN_DETALLE")
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
